@import "~bootstrap/scss/bootstrap";
@import "~open-iconic/font/css/open-iconic-bootstrap.css";

body {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  background-color: #d0d0d0;
}

.breadcrumb {
  background-color: #4d4d4d;
  color: #9fbd00;
}

a.external {
  background: url(../images/external.png) center right no-repeat;
  padding-right: 13px;
}
