{% block footer %}
    <footer class="fixed-bottom footer text-muted d-flex flex-row bg-dark">
        <div class="p-1">
            &copy; 2019 - {{ "now"|date("Y") }} by <a href="https://github.com/elkuku">elkuku</a>
        </div>
        <div class="p-1 ml-auto">
            &hellip;
        </div>
        <div class="p-1 ml-auto">
            Made with <a href="https://symfony.com">Symfony</a>
        </div>
    </footer>
{% endblock %}
